<h5 class="listing-room-type"><%= @listing.room_type.type_ %></h5>

<h5><%= pluralize(((@listing.check_out - @listing.check_in).to_i), 'Night') %></h5>
<h5>Check-in: <%= @listing.check_in %></h5>
<h5>Check-out: <%= @listing.check_out %></h5>

<h4>Room Details</h4>
<ul class="room-details">
  <%= @listing.room_type.description %>
</ul>
