<div class="container listing-show-container">
  <div class="row">
    
    <% unless defined? @hotel %>
      <div class="col-md-2"></div>
    <% end %>

    <% if defined? @hotel %>
      <div class="col-md-10 col-md-offset-1 listing-container">
    <% else %>
      <div class="col-md-8 listing-container">
    <% end %>
      <!-- hide this part when search by hotel -->
      <% unless defined? @hotel %>
        <% if user_signed_in? %> 
        <!-- && current_user.id == @listing.user.id %> -->

          <%= render 'listing_description' %>
          <!-- EDIT BUTTON -->
          <div class="text-center">
            <%= link_to "Edit this Listing", edit_listing_path, class: "btn btn-primary edit-listing-btn" %>
          </div>

        <% elsif @listing.purchased? == true %>

          <h1>This listing has been sold.</h1>

        <% else %>
          <h1 class="text-center listing-header">Here is your available room at <%= @listing.hotel.fullname %> </h1>
        <% end %>
      <% end %>

      <div class="media">
        <div class="listing-details">

          <div class="col-md-4 col-sm-4 col-xs-4">
            <%#= render "room_images" %>
            <a href="#">
              <%= image_tag @listing.room_type.picture_link, { class: "img-responsive room-img center-block", alt: "placeholder image"}%>
            </a>
          </div>

          <div class="col-md-6 col-sm-6 col-xs-6">
              <%= render 'listing_details' %>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2 listing-price">

          <h3 style="color:#FF4136;"><s>$599/night</s></h3>
          <h3>$<%= @listing.price %><span>/night</span></h3>
          <h3 style="color:#0074D9;"><%= number_to_percentage(((599 - @listing.price).to_f / 599)*100, precision: 0) %> off! </h3>
          <div class="select">
            <!--  <a class="btn btn-success btn-lg" href="#">View Details</a>   -->
          <% if user_signed_in? %>
      	    <% unless @my_listing.include? @listing.id %>
               <div id="paypal-button-<%= @listing.id %>"></div>

                <script>
                  paypal.Button.render({

                      env: 'production', // Or 'sandbox'

                      client: {
                          sandbox:    'PbY7MCIZm7TF32yJM2u5OakzlHsNyKJbAoJDW6FwQNOShJJaNwib6eiWCVT1yCepwP8hzG',
                          production: 'AdmT1qkCaHGvjoiGceyvsCYu6Ur0CPisbqJ4sN6Hza6LvMGFP2wMB4Do7ZbOuwUTUObE3DiPtcAW1Dpn'
                      },

                      commit: true, // Show a 'Pay Now' button

                      payment: function(data, actions) {
                          return actions.payment.create({
                              transactions: [
                                  {
                                      amount: { total: '<%= @amount %>', currency: 'USD' }
                                  }
                              ]
                          });
                      },

                      onAuthorize: function(data, actions) {
                          actions.payment.execute().then(function(payment) {

                              // The payment is complete!
                              // You can now show a confirmation message to the customer


                            var url = "<%= payment_confirmation_listing_path(@listing.id) %>";
                            window.location = url;

                            // create a thank you page and pass the listing id

                       //  fetch(url, {
                      //   method: 'put'
                      // }).then(function(response) {
                      //   console.log(response);
                      // }).catch(function(err) {
                      //   console.log(err);
                      // });
                          });

                      }

                  }, '#paypal-button-<%= @listing.id %>');
                </script>

            
            <% end %>
          <% else %>
          <%= link_to "Book this room", new_user_registration_path(booking: @listing.id), class: "btn btn-success book-room-btn" %>

          <p>Non-Refundable</p>
            
          <% end %>

          </div>

        </div>

      </div>

      <% unless defined? @hotel %>
        <% if user_signed_in? %>

          <div class="text-center">
            <%= link_to "Confirm This Listing", approved_listing_path, method: :patch, class: "btn btn-info" %>
          </div>
        <% elsif admin_signed_in? && @listing.confirmed_at == nil %>

         <%= link_to "Home", root_path, class: "btn btn-primary btn-home" %>

        

        <% else %>

          <%#= link_to "Home", root_path, class: "btn btn-primary btn-home" %>
          <%= link_to 'Back', :back %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
